<%- include head.ejs %>
<body>
	<%- include navbar.ejs %>
	<div class="container">
		<div class="area-title">错误信息</div>
		<div class="area-content">
			<div class="area-content-inner">
				<p><%= message %>
			</div>
		</div>
	</div>
</body>



