/*通用标签*/
a {
  color: #00B7FF;
  text-decoration: none;
}
li {
  line-height: 20px;
  list-style: none;
}
label {
	margin-right: 3px;
}
input[type='text'] {
	border: 1px solid #ccc;
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	border-radius: 4px;
	width: 200px;
}
input[type='text'], textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #555;
	padding: 4px 6px;
}
/*横向导航条*/
.navbar {
	z-index: 100;
	font-size: 13px;
}
/*视口顶端导航条*/
.navbar-fixed-top .navbar-inner {
	border-width: 0 0 1px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	min-height: 40px;	
	background-color: #1b1b1b;
	background-image: linear-gradient(to bottom, #222, #111);
	background-repeat: repeat-x;	
	color: rgba(255, 255, 255, 0.9);
	border: 1px solid #252525;
}
.navbar-inner:after {
	display: table;
	line-height: 0;
	content: "";
	clear: both;	
}
/*视口顶端导航条标题*/
.navbar .brand {
	float: left;
	margin-right: 20px;
	font-weight: bold;
	color: #80bd01;
	font-size: 20px;
	padding: 10px 20px 10px;
}
/*导航条中列表*/
ul.nav {
	list-style: none;
}
/*横向导航条中列表*/
.navbar .nav {
	float: right;
	margin-left: 10px;
}
/*横向导航条中列表项*/
.navbar .nav>li {
	float: left;
}
.navbar .nav>li>a {
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	padding: 10px 15px 10px;
	display: block;
}
.navbar .nav>li>a:hover {
	color: white;
}
/*按钮基本样式*/
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-primary {	
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover {
	background-image: none;
}
.btn-info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-large {
	padding: 11px 19px;
	border-radius: 6px;
	font-size: 17.5px;
}

/*话题*/
.one-topic {
	border-bottom: 1px solid #f6f6f6;
	padding: 10px;	
	background-color: white;
}
.one-topic:after {
	content: "";
	display: table;
	clear: both;
}
.topic-title-wrapper {
	margin: 3px 0;
	color: black;
	font-size: 24px;
	font-weight: 800;
}
a.topic-title {
	color: black;
	font-size: 24px;
	font-weight: 800;
}
.topic-author, .topic-author a {
	font-size: 14px;
}
.topic-content {
	margin-top: 5px;
	font-weight: 600;
	font-size: 15px;
}
#topic-list .topic-content {
	max-height: 200px;
	overflow: hidden;
}
.topic-message {
	font-size: 14px;
	background-color: #80bd01;
	color: white;
	padding: 0 10px;
	margin-bottom: 10px;
}
.topic-message:after {
	content: "";
	display: table;
	clear: both;
}
.topic-message .topic-action {
	margin-left: 10px;
}
.topic-message a{
	color: #32273d;
}
.topic-message .add-reply{
	margin-left: 10px;
}
.reply-list li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px;
}
.reply-list li:hover{
	background-color: #e1e1e1;	
}

/*表单*/
.control-group {
	margin-bottom: 10px;
}
.control-group .form-label {
	width: 100px;
	text-align: right;
}
.form-label, .control {
	display: inline-block;
}
.login-form {
	margin-top: 20px;
	width: 500px;
}
button.indent {
	margin-left: 100px;
}
.center {
	margin: 0 auto;
}
#sidebar {
	font-weight: 700;
	line-height: 1.5;
}
#sidebar .area-content div, 
#sidebar .area-content a{
	margin-bottom: 5px;
}
a.link-green {
	display: inline-block;
	padding: 0 5px;
	color: white;
	line-height: 2;
	background-color: #80bd01;
	font-weight: 500;
	border-radius: 4px;
}
ul.topic-list li {
	line-height: 2;
	border-bottom: 1px solid #f1f1f1;
	width: 100%;
}
.topic-list .topic-title {
	margin-left: 20px;
}
ul.topic-list li:hover {
	background-color: #e1e1e1;
}
.breadcrumb li {
	float: left;
}
#create_topic_form textarea {
	font-size: 18px;
	line-height: 20px;
}
#addReply{
	width: 95%;
	margin: 5px auto;
	min-height: 70px;
}
#addReply textarea{
	display: block;
	width: 99%;
	margin: 0;
	padding: 2px;
}
#addReply input[type='submit'] {
	margin-top: 3px;
}






